@using PagedList
@using PagedList.Mvc
@using JustEat.Web.ViewModels

@model RestaurantViewModel

<h2>Results</h2>

@foreach (var restaurant in Model.Restaurants)
{
    <h3>@restaurant.Name</h3>
            
    <dl>
        <dt>Rated:</dt>

        @if (restaurant.NumberOfRatings == 1)
        {
            <dd>@restaurant.RatingStars stars from @restaurant.NumberOfRatings rating</dd>
        }
        else
        {
            <dd>@restaurant.RatingStars stars from @restaurant.NumberOfRatings ratings</dd>
        }

        <dt>Cuisine Served:</dt>
        <dd>@String.Join(", ", restaurant.CuisineTypes.Select(type => type.Name))</dd>
    </dl>
}

@Html.PagedListPager((IPagedList)Model.Restaurants, page => Url.Action("Results", "Home", new { outcode = Model.Outcode, page = page }))